.mainLayout{    
    margin-top :50px;
    text-align:center;
 
     
 }

.previewarea{
    margin: top 50pxl;text-align:center;
    }
    
.yelloWback{
        background-color: yellow;
        padding:5px;
    }